{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'redoose_app/css/style_donate.css' %}">
    <link rel="shortcut icon" href="{% static 'redoose_app/images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'redoose_app/images/favicon.ico' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css"></script>
</head>

<body class="grey">
<div>
    <h1>We've handpicked 3 special organizations<br> that we belive fit our company mission.</h1><br>
    <div class="container">
        <img src="{% static 'redoose_app/images/four_ocean.png' %}" alt="org_logo" class="org_logo bio">
        <div class="bio">
            <h2><a href="https://4ocean.com/">4Ocean</a></h2>
            <p>4ocean is a United States based for profit company that sells bracelets made from 100% recycled materials, as well as apparel and water bottles. The company uses a portion of the profits to remove one pound of trash from the ocean and coastlines for each bracelet that is sold in an effort to clean up plastic pollution in oceans.</p>
        </div>   
    </div><br>
    <div class="container">
        <img src="{% static 'redoose_app/images/ocean_cleanup.png' %}" alt="org_logo" class="org_logo bio">
        <div class="bio">
            <h2><a href="https://4ocean.com/">The Ocean Cleanup</a></h2>
            <p>The organization conducts scientific research into oceanic plastic pollution. It was founded in 2013 by Boyan Slat, a Dutch-born inventor-entrepreneur of Croatian origin who serves as its CEO. It has conducted two expeditions to the North Pacific Gyre, and published scientific papers. The clean-up approach uses barriers in ocean gyres to scoop up marine debris as the barrier is pushed by wind and current. The project aims to launch a total of 60 such systems in the patch by 2021. They predict this capability could clean up 50% of the debris in the Great Pacific Garbage Patch in five years.</p>
        </div>    
    </div><br>
    <div class="container">
        <img src="{% static 'redoose_app/images/plastic_oceans.png' %}" alt="org_logo" class="org_logo bio">
        <div class="bio">
            <h2><a href="https://4ocean.com/">Plastic Oceans</a></h2>
            <p>Plastic Oceans International is a nonprofit organization raising awareness about plastic pollution to inspire behavioral change. More than 300 million tons of plastic are produced annually, yet more than 90% of all plastic is not recycled. At least eight million tons of plastic are dumped into the ocean each year—equal to a garbage truck per minute. Studies find plastic pollutes the air, water and entire food chain, threatening human health, wildlife and the planet. Through solutions-focused films and digital content, Plastic Oceans promotes a global movement to rethink plastic.</p>
        </div>    
    </div>
    <div class="disclaimer">
        <h3>Total proceeds from shaka~~ search engine will be split equally amongst all three organizations at the end of every quarter.</h3>
        <h3>*Local and partner organizations will be under constant review and revision to ensure the company mission remains aligned and to best allocate our resources effectively.</h3>
        <h3>**If you would like to donate, feel free to visit the organization's webpages above, or use the link below. The link will direct you to Paypal where you can specifiy which organization you would like to contribute to.</h3>
    </div>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="SSGPFT2JQLFXQ" />
        <button type="submit"><img src="{% static 'redoose_app/images/paypal.jpg' %}" alt="paypal" id="button"></button>
        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
    </form>
</div>

</body>
</html>