{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'redoose_app/css/style_sub.css' %}">
    <link rel="shortcut icon" href="{% static 'redoose_app/images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'redoose_app/images/favicon.ico' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css"></script>
    <style>
        
    </style>
</head>

<body>
    <h2>Subscribe to our email newsletter to receive updates on events, reports and progress.</h2>

    <div id="error_div">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            {% if 'subscribe' in message.tags %} <li class="{{ message.tags }}">{{ message }}</li> {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div id="form">
        <form action="/subscribe" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="first_name">
                    <p>First Name</p>
                </label>
                <input type="text" class="form-control" name="first_name"><br>
                <label for="last_name">
                    <p>Last Name</p>
                </label>
                <input type="text" class="form-control" name="last_name"><br>
                <label for="email">
                    <p>Email</p>
                </label>
                <input type="email" class="form-control" name="email">
                <button type="submit" class="btn btn-info" style="margin-top:15px;">Subscribe</button>
            </div>
        </form>
    </div>
</body>

</html>